.container {
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 10px;
    justify-content: center;
    background-color: rgb(97, 195, 97);
}

.cnt {
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

.reset {
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 10px;
    justify-content: center;
}